.text-area {
    /*margin-top: 50px;*/
    padding-top: 35px;
    width: 600px;
    margin: auto;
}

/* Below is the profile box css contents*/

.members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}